SELECT
[System]
,[HldgKey] AS [Contract]
,[InforceStatus] AS [Contract Status]
,[ProductType] AS [Product Category]
,[PlanCode] AS [Plan Code]
,CASE
   WHEN [PlanCode] LIKE ('%Capital Vantage%') THEN 'Capital Vantage'
   WHEN [PlanCode] LIKE ('%Transitions Select%') THEN 'Transition Select'
   WHEN [PlanCode] LIKE ('%RetireEase Choice%') THEN 'RetireEase Choice'
   WHEN [PlanCode] LIKE ('%RetireEase%') THEN 'RetireEase'
   WHEN [PlanCode] LIKE ('%Stable Voyage%') THEN 'Stable Voyage'
   WHEN [PlanCode] LIKE ('%Odyssey Select%') THEN 'Odyssey Select'
   WHEN [PlanCode] LIKE ('%Index Horizons%') THEN 'Index Horizons'
   ELSE 'Unknown'
END AS [Product]
,[MarketType] AS [Market Type]
,[Channel] AS [Distributor]
,CASE WHEN [Channel] IN ('CAS','CAB') THEN 'MMFA' ELSE 'SDP' END AS [Channel]
,[FirmName] AS [Firm Name]
,[Firm]
,[AdvisorName] AS [Advisor]
,[ContractState] AS [Contract State]
,[SubmitDate] AS [Submit Date]
,[IssueDate] AS [Issue Date]
--,[SuitabilitySubmitDate] AS [Suitability Submit Date]
--,[NBSubmitDate] AS [NB Submit Date]
--,[SuitabilityLastStatusDate]
--,[NBLastStatusChangeDate]
,CASE WHEN [IssueDate] IS NULL THEN 1 ELSE 0 END AS [Pending Indicator]
,CASE WHEN [IssueDate] IS NOT NULL THEN 1 ELSE 0 END AS [Issued Indicator]
,CASE 
   WHEN [SubmitDate] IS NOT NULL AND [NewBusinessStatus] IN ('Submitted, Pending', 'Pending Issue') THEN 'Pending New Business'
   WHEN [SubmitDate] IS NOT NULL AND [SuitabilityCurrentStatus] = 'Pending Approval' THEN 'Pending Suitability'
   ELSE NULL
END AS [Pending Status]
,CASE
   WHEN [SubmitDate] IS NOT NULL AND [NewBusinessStatus] = 'Submitted, Pending' THEN 'Received, Not Approved'
   WHEN [SubmitDate] IS NOT NULL AND [NewBusinessStatus] = 'Pending Issue' THEN 'In Good Order, Awaiting Funds'
   ELSE NULL
END AS [Pending New Business Contract Status]
,[ReplacementIndicator] AS [Replacement Indicator]
,[AutoApprovedIND] AS [SuitabilityAutoApproveInd]
,[ReplacementType] AS [Replacement Type]
,[AnticipatedPremium] AS [Anticipated Premium]
,[DepositAmount] AS [Deposit Amount]
,BingoStatus AS [NIGO Indicator]
,BingoDate AS [BINGO Date]
,[CalDaysSinceSubmit]
,CASE 
   WHEN [SubmitDate] IS NOT NULL
      THEN ((SELECT COUNT(*) FROM [RptgAndAnalytics].[StrdRptg].[DMA_DATE_DIM] WHERE
          [IS_HOLIDAY] = 0 AND
          [IS_WEEKDAY] = 1 AND
          CAST([SHORT_DT] AS DATE) >=[SubmitDate]
          AND CAST([SHORT_DT] AS DATE)<CAST(GETDATE() AS DATE)))
END AS BussinessDaysSinceSubmit

,[CalDaysSubmitToIssue] AS [Submit to Issue Cycle Time]

,CASE 
   WHEN [IssueDate] IS NOT NULL
      THEN ((SELECT COUNT(*) FROM [RptgAndAnalytics].[StrdRptg].[DMA_DATE_DIM] WHERE
          [IS_HOLIDAY] = 0 AND
          [IS_WEEKDAY] = 1 AND
          CAST([SHORT_DT] AS DATE) >=[SubmitDate]
          AND CAST(SHORT_DT AS DATE) >=[SubmitDate] AND CAST(SHORT_DT AS DATE)<[IssueDate]))
END AS BussinessDaysSubmittoIssueCycleTime

FROM [RptgAndAnalytics].[StrdRptg].[AnnuityNBFlatFile]
WHERE 
       --[System] IN ('SE2','iPipeline')
       --AND 
       (
                    ([SubmitDate] IS NOT NULL AND [SuitabilityCurrentStatus] = 'Pending Approval')
                           OR 
                    ([SubmitDate] IS NOT NULL AND [NewBusinessStatus] IN ('Submitted, Pending', 'Pending Issue'))
             OR 
                    [IssueDate] IS NOT NULL)