----Initial Review for BINGO Dashboard

SELECT DISTINCT
ApplicationID
, StateCode
, IRMarketTypeName
, SuitabilityIndicator
, IGOIndicator
, OREPLACE(PROD_TYP_NME,'MassMutual ','') AS Product	
, CASE WHEN PROD_TYP_NME LIKE '%RetireEase%' THEN 'Income Annuity'
	WHEN PROD_TYP_NME LIKE '%Index Horizons%' THEN 'Fixed Indexed'
	ELSE MAJOR_PROD_NME 
END AS "Product Category"
, T1.AgentID
, T1.AGENTID
, T1.AGENCYNUMBER AS FIRMNUM
, CASE WHEN FirmCodeWithPrefix IS NULL THEN FirmCode
			ELSE FirmCodeWithPrefix END AS Firm
, CASE WHEN FirmNum = 999 THEN '999 - Edward Jones'
			WHEN FirmCodeWithPrefix IS NULL AND FirmNum IS NULL THEN '999 - Unknown'
			WHEN FirmCodeWithPrefix IS NULL THEN '999 - ' || FirmNum
  ELSE FirmDisplayName END AS FirmName
, CASE WHEN DistributionChannelType = 'DISO' OR FirmCodeWithPrefix IN ('A000','A199') THEN 'CLOSED AGENCIES'
			WHEN DistributionChannelType IN ('DDC','OTHR') OR OriginalFirmCodeWithPrefix IN ('A113','A119','A226','A244','A249') THEN 'Direct Brokerage'
			WHEN OriginalFirmCodeWithPrefix = 'A109' THEN 'Lifebridge Agency'
			WHEN FirmCodeWithPrefix IN ('A020','A028') THEN 'UPPER MIDWEST'
			WHEN FirmCodeWithPrefix IN ('A253','A275') THEN 'MIDWEST-SOCA'
			WHEN FirmCodeWithPrefix = 'A271' THEN 'SE-MW'
			WHEN FirmCodeWithPrefix = 'A262' THEN 'VIRGINA-NORTH'
			WHEN FirmCode IN ('FIL','FILI') THEN 'Fidelity'
			WHEN FirmCodeWithPrefix IS NULL THEN 'UNKNOWN' 
  ELSE Region END AS RegionName
, CASE WHEN T1.AGENCYNUMBER IS NULL THEN 'SDP' ELSE 'MMFA' END AS Channel
, CASE WHEN T1.AGENCYNUMBER IS NULL THEN 'SDP' ELSE 'Non-SDP' END AS "Channel Type"
, CAST(NEWBUSINESSSUBMITDATE AS DATE) NEWBUSINESSSUBMITDATE
, CAST(ISSUEDATE AS DATE) ISSUEDATE
, NIGOReason
, CAST(T1.CreatedAtDateTimestamp AS DATE) NIGODATE
, CASE WHEN CAST(ISSUEDATE AS DATE) = ‘0001-01-01’ THEN NULL ELSE  CAST(ISSUEDATE AS DATE) END AS BINGODATE
, (BINGODATE - NIGODATE) NIGOResolution
FROM	PROD_DMA_VW.ANB_IR_NIGO_REASON_TOKEN_VW T1
LEFT JOIN PROD_DMA_VW.ANB_APPLICATION_FCT_VW T2 ON T2.INITIALREVIEWID = T1.INITIALREVIEWID
LEFT JOIN PROD_DMA_VW.FIRM_DIM_VW T3 ON T1.AGENCYNUMBER = T3.ORIGINALFIRMNUMBER
LEFT JOIN PROD_USIG_CMN_VW.PRODUCT_TRANSLATOR_VW T4 ON CAST(T4.PROD_ID AS INTEGER)= T1.IRPRODUCTID
LEFT JOIN PROD_DMA_VW.ANB_IR_MARKET_TYPES_VW T5 ON T5.IRMARKETTYPEID = T1.IRMARKETTYPEID
LEFT JOIN PROD_DMA_VW.ANB_IR_QUESTIONS_VW T6 ON T6.QUESTIONNAME = T1.NIGOREASON
WHERE T2.INITIALREVIEWID IS NOT NULL

